<main>
  <h1>{{ cvData.name }}</h1>
  <dl>
    <dt>Email:
      <a href="mailto:{{ cvData.email }}">{{ cvData.email }}</a>
    </dt>
    <dt>Phone:
      <a href="tel:{{ cvData.phone }}">{{ cvData.phone }}</a>
    </dt>
    <dt>Github:
      <a href="{{ cvData.github }}">{{ cvData.github }}</a>
    </dt>
    <dt>LinkedIn:
      <a href="{{ cvData.linkedin }}">{{ cvData.linkedin }}</a>
    </dt>
  </dl>
  <h3>Objective:</h3>
  <p>{{ cvData.objective }}</p>
  <h3>Summary of Qualifications:</h3>
  <ul>
    {% for qualification in cvData.qualifications %}
      <li>{{ qualification }}</li>
    {% endfor %}
  </ul>
  <h3>Professional Experience:</h3>
  {% for job in cvData.experience %}
    <h4>{{ job.title }}<br>
        <small>{{ job.company }}, {{ job.location }}, {{ job.dates }}</small>
      </h4>
      <ul>
        {% for responsibility in job.responsibilities %}
          <li>{{ responsibility }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    <h3>Education:</h3>
    <p>{{ cvData.education.degree }}, {{ cvData.education.fieldOfStudy }}, {{ cvData.education.university }},
    {{ cvData.education.graduationDate }}</p>
    <h3>Skills:</h3>
    <ul>
      {% for skill in cvData.skills %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>
    <br>
      <blockquote>Available from November 1.</blockquote>
      {# <p>Available upon request.</p> #}
    </main>