<main class="flex flex-col p-4 mx-auto mt-4 text-sm text-justify text-gray-900 md:container md:flex-row">
  <aside class="md:w-1/3">
    <section class="p-4 bg-white shadow-md">
      <h2 class="mb-2 text-lg font-semibold text-blue-600">Details</h2>
      {% for detail in cvData.details %}
        <div class="mt-2 first:mt-0">
          <div class="capitalize">{{ detail.field }}</div>
          <div class="text-xs break-words">
            <a href="{{ detail.href or detail.value }}">{{ detail.value }}</a>
          </div>
        </div>
      {% endfor %}
      <h2 class="mt-4 mb-2 text-lg font-semibold text-blue-600">Core skills</h2>
      <ul>
        {% for coreSkill in cvData.coreSkills %}
          <li>{{ coreSkill }}</li>
        {% endfor %}
        <li class="text-xs italic text-gray-600">more below</li>
      </ul>
      <h2 class="mt-4 mb-2 text-lg font-semibold text-blue-600">Languages:</h2>
      <ul>
        <li>Polish: Native</li>
        <li>English: Upper Intermediate</li>
      </ul>
      <h2 class="mt-4 mb-2 text-lg font-semibold text-blue-600">Education:</h2>
      <p>{{ cvData.education.university }}</p>
      <p>{{ cvData.education.degree }}, {{ cvData.education.fieldOfStudy }},
      {{ cvData.education.graduationDate }}</p>
    </section>
    <section class="sticky top-0 p-4 mt-4 bg-white shadow-md">
      <h2 class="mb-4 text-lg font-semibold text-blue-600">Skills</h2>
      <ul>
        {% for skill in cvData.skills %}
          <li class="mt-2 first:mt-0">
            <div>{{ skill.label }}</div>
            <div class="text-gray-600">{{ skill.values | join(", ") }}</div>
          </li>
        {% endfor %}
      </ul>
      <div class="mt-2 text-xs italic text-gray-500">The order is based on preferences, not skill level</div>
    </section>
  </aside>
  <article class="mt-4 md:w-2/3 md:mt-0 md:ml-4">
    <section class="p-4 bg-white shadow-md">
      <h2 class="mb-4 text-lg font-semibold text-blue-600">Objective</h2>
      <p>{{ cvData.objective }}</p>
      <div class="pl-2 mt-2 text-xs italic text-gray-600 border-l-2 border-solid border-l-blue-500">{{ cvData.explanation }}</div>
    </section>
    <section class="p-4 mt-4 bg-white shadow-md">
      <h2 class="mb-4 text-lg font-semibold text-blue-600">Summary of Qualifications</h2>
      <ul class="ml-4 list-disc">
        {% for qualification in cvData.qualifications %}
          <li class="mb-2 leading-4 last:mb-0">{{ qualification }}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="p-4 mt-4 bg-white shadow-md">
      <h2 class="mb-4 text-lg font-semibold text-blue-600">Professional Experience</h2>
      {% for job in cvData.experience %}
        <div class="mb-4 last:mb-0">
          <h3 class="text-xl">{{ job.title }}</h3>
          <p class="italic text-gray-600">{{ job.company }} - {{ job.dates }} <span class="text-gray-500">({{ job.duration }})</span></p>
          <p>{{ job.description }}</p>
          {% if job.responsibilities %}
            <ul class="my-1 ml-4 list-disc">
              {% for responsibility in job.responsibilities %}
                <li>{{ responsibility }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if job.usedTechnologies %}
            <p>
              <span>Used technologies:</span>
              <span class="text-gray-600">{{ job.usedTechnologies | join(", ") }}</span>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
    <section class="p-4 mt-4 bg-white shadow-md">
      <h2 class="mb-4 text-lg font-semibold text-blue-600">Freelance Experience</h2>
      {% for job in cvData.freelance %}
        <div class="mb-4 last:mb-0">
          <h3 class="text-xl">{{ job.title }}</h3>
          <p class="italic text-gray-600">{{ job.company }} - {{ job.dates }} <span class="text-gray-500">({{ job.duration }})</span></p>
          <p>{{ job.description }}</p>
          {% if job.responsibilities %}
            <ul class="my-1 ml-4 list-disc">
              {% for responsibility in job.responsibilities %}
                <li>{{ responsibility }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if job.usedTechnologies %}
            <p>
              <span>Used technologies:</span>
              <span class="text-gray-600">{{ job.usedTechnologies | join(", ") }}</span>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  </article>
</main>