<header class="bg-blue-600 py-4 text-white text-center">
  <h1 class="text-3xl font-semibold">{{ cvData.name }}</h1>
  <p>Senior Frontend Developer</p>
</header>
<main class="mx-auto p-4 mt-8 flex flex-col text-gray-900 md:container md:flex-row">
  <aside class="md:w-1/3">
    <section class="bg-white p-4 shadow-md">
      <h2 class="text-lg text-blue-600 font-semibold mb-2">Details</h2>
      {% for detail in cvData.details %}
        <div class="mt-2 first:mt-0">
          <div class="capitalize text-sm">{{ detail.field }}</div>
          <div class="text-xs break-words">
            <a href="{{ detail.href or detail.value }}">{{ detail.value }}</a>
          </div>
        </div>
      {% endfor %}
      <h2 class="text-lg text-blue-600 font-semibold mt-4 mb-2">Core skills</h2>
      <ul>
        {% for coreSkill in cvData.coreSkills %}
          <li class="text-sm">{{ coreSkill }}</li>
        {% endfor %}
        <li class="text-xs text-gray-600 italic">more below</li>
      </ul>
      <h2 class="text-lg text-blue-600 font-semibold mt-4 mb-2">Languages:</h2>
      <ul class="text-sm">
        <li>Polish: Native</li>
        <li>English: Intermediate</li>
      </ul>
      <h2 class="text-lg text-blue-600 font-semibold mt-4 mb-2">Education:</h2>
      <p class="text-sm">{{ cvData.education.degree }}, {{ cvData.education.fieldOfStudy }},
        {{ cvData.education.university }}, {{ cvData.education.graduationDate }}</p>
    </section>
    <section class="bg-white p-4 mt-4 shadow-md">
      <h2 class="text-lg text-blue-600 font-semibold mb-4">Skills</h2>
      <ul>
        {% for skill in cvData.skills %}
          <li class="mt-2 first:mt-0">
            <div class="text-sm">{{ skill.label }}</div>
            <div class="text-sm text-gray-600">{{ skill.values | join(", ") }}</div>
          </li>
        {% endfor %}
      </ul>
      <div class="text-xs text-gray-500 italic mt-2">The order is based on preferences, not skill level</div>
    </section>
  </aside>
  <article class="mt-4 md:w-2/3 md:mt-0 md:ml-4">
    <section class="bg-white p-4 shadow-md">
      <h2 class="text-lg text-blue-600 font-semibold mb-4">Objective</h2>
      <p class="text-sm">{{ cvData.objective }}</p>
    </section>
    <section class="bg-white p-4 mt-4 shadow-md">
      <h2 class="text-lg text-blue-600 font-semibold mb-4">Summary of Qualifications</h2>
      <ul class="list-disc ml-4 text-sm">
        {% for qualification in cvData.qualifications %}
          <li>{{ qualification }}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="bg-white p-4 mt-4 shadow-md">
      <h2 class="text-lg text-blue-600 font-semibold mb-4">Professional Experience</h2>
      {% for job in cvData.experience %}
        <div class="mb-4">
          <h3 class="text-xl">{{ job.title }}</h3>
          <p class="text-gray-600 italic">{{ job.company }} - {{ job.dates }}</p>
          <p>{{ job.description }}</p>
          <ul class="list-disc ml-4 text-sm">
            {% for responsibility in job.responsibilities %}
              <li>{{ responsibility }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </section>
  </article>
</main>